version: 1.3.{build}
image: Visual Studio 2019
configuration: Release
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
before_build:
- cmd: dotnet restore src
build:
  project: src\CSharpExtensions.sln
  verbosity: minimal
artifacts:
- path: src\CSharpExtensions.Annotations\bin\Release\SmartAnalyzers.CSharpExtensions.Annotations.*.nupkg
  name: SmartAnalyzers.CSharpExtensions.Annotations.*.nupkg